// =============================================================================
// COLORS
// =============================================================================

$color-dark: #434343 !default;
$color-yellow: #ffaf33 !default;
$color-mint: #99d8c9 !default;
$color-grey: #d1d1d1 !default;
