// =============================================================================
// FONTS
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$font-family-body: 'Poppins', sans-serif !default;
$font-family-heading: 'Dosis', sans-serif !default;
$font-family-monospace: 'Roboto Mono', monospace !default;
