// =============================================================================
// PAGE
// =============================================================================

html {
	color: $color-dark;
	height: 100%;
}

body {
	height: 100%;
}

@media print {
	body,
	html {
		height: auto;
	}
}
